body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-color: #232326;
    color: #f4f4f9;
}

h1 {
    color: #c3d6ec;
    border-bottom: 2px solid #ddd;
    padding-bottom: 10px;
}

form {
    background: #121212;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    display: flex;
    gap: 10px;
    align-items: center;
    flex-wrap: wrap;
}

input[type="text"],
input[type="number"] {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    flex-grow: 1;
}

input[type="submit"],
button {
    background-color: #3498db;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    transition: background 0.3s;
}

input[type="submit"]:hover,
button:hover {
    background-color: #2980b9;
}

.button-controls {
    margin: 20px 0;
    display: flex;
    gap: 10px;
}

#pause-btn {
    background-color: #f39c12;
}

#resume-btn {
    background-color: #27ae60;
}

.stats-box {
    background: #121212;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    line-height: 1.6;
}

.stats-box div {
    font-weight: 500;
}

#refresh-explain {
    color: #748182;
}

span[id] {
    color: #c3d6ec;
    font-weight: bold;
}

/* Chart Layout */
#chartSection {
    background: #121212;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#chartContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

#crawledChart {
    color: green;
}

canvas {
    width: 100% !important;
    height: 300px !important;
}

@media (max-width: 1000px) {
    #chartContainer {
        grid-template-columns: 1fr;
    }
}